#title{
    background: #cd202c;
    color: white;
    font-size: 2.5rem;
    font-family: 'Montserrat';
    word-spacing: 10px;
}

.welcome{
    padding: 50px;
}

.icons{
    position: absolute;
    height: 100%;
    width: 30%;
    right: 0;
}

.profile-icon{
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

#sidebar{
    background: lightgrey;
    width: 400px;

}

.profile{
    background-color: black;
}