.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, white,rgb(196,196,196));
    z-index: -4;
    display: block;
    overflow-x: auto;
}

#logo-container{
    text-align:center;
}

.logo{
    height: 30vh;
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%);
}

.loginbox{
    background-color: #cd202c;
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-radius: 5px;
    padding-bottom: 20px;
    border: solid 1px;
    padding: 20px;
    box-shadow: 0px 0px 50px #c7c7c7 ;
}

.loginbox input{
    margin: 7.5px 0px;
    padding: 7px;
    background: none;
    border: #c7c7c7 1px solid;
    color: white;
    font-family: 'Montserrat';
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 3px;
    transition: 0.5s;
    outline: none;
}

.loginbox input:hover{
    background-color: #b91d27;
}

.loginbox input:focus{
    background-color: #a61620;
}

.loginbox ::placeholder{
    color: #c7c7c7;
}

.login-button{
    margin-top: 25px;
    margin-bottom: 2px;
    border: solid 1px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 15px;
    font-family: 'Montserrat';
    border-radius: 3px;
    transition: 0.5s;
}

.login-button:hover{
    background: #c7c7c7;
}

.forgot-password{
    text-align: center;
    margin-top: 15px;
}

.icons{
    position: absolute;
    width: 100%;
    cursor: pointer;
    text-align: right;
    bottom: 5px;
    right: 5px;
}

.icons i{
    margin-right: 25px;
} 